<header>
    <nav>
        <%= link_to image_tag("logo.png"), root_path() %>
        <ul class="left">
             <li> <%= link_to 'All Movies', movies_path() %> </li>
        </ul>
        <ul class="right">
          <li class="button"> <%= link_to 'Sign in', sign_in_path %></li>
          <li class="button"> <%= link_to 'Sign Up', sign_up_path %></li>
        </ul>
   </nav>   
</header>